// Principales
$primary-color: rgba(#9356dc, 1)!default;
$secondary-color: rgba(#ff79da, 1)!default;
$tertiary-color: rgba(#99e2d0, 1)!default;

// Utilitaires Couleurs
$bg-gradient: linear-gradient(to bottom, $secondary-color, $primary-color);
$bg-gradient-btn: linear-gradient(to top, $primary-color 0%, $secondary-color 50%, $primary-color 100%);
$bg-body: rgba(#fff, 1)!default;
$bg-grey-light: rgba(#f6f6f6, 1)!default;
$bg-grey-mid: rgba(#eaeaea, 1)!default;
$bg-grey-dark: rgba(#353535, 1)!default;
$bg-new: rgba(#99e2d0, 1)!default;

$icon-step-color: rgba(#7e7e7e, 1)!default;

$header-shadow: 0px 3px 5px 0px rgba(53, 53, 53, 0.2);
$shadow-box: 0px 3px 15px 0px rgba(126, 126, 126, 0.3);
$shadow-btn: 0px 3px 10px 0px rgba(53, 53, 53, 0.2);

// Textes
$base-font-size: 16px!default;
$txt-logo: rgba(#101010, 1)!default;
$txt-para: rgba(#000, 1)!default;
$txt-white: rgba(#fff, 1)!default;
$txt-new: rgba(#008766, 1)!default;

// Utilitaires Position / Dimensions
$radius-btn: 25px;
$radius-box: 10px;
$radius-number: 20px;
$padding-txt: 10px;

// Medias Queries
$small: 500px;
$medium: 700px;
$normal: 1000px;
$large: 1440px;

$small-up: "only screen and (min-width:#{$small})";
$medium-up: "only screen and (min-width:#{$medium})";
$normal-up: "only screen and (min-width:#{$normal})";
$large-up: "only screen and (min-width:#{$large})";
