@use "../utilities/variables";
/*---------------------------*\
            Base Fonts
\*---------------------------*/
// element centered with Flexbox

%flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

//@extend %flex-center;

//typography

%typoShrikhand {
	font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
	font-weight: normal;
}

%typoRoboto {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

//color para

%txt-base-color {
	color: variables.$txt-para;
}