@use "../utilities/functions";
@use "../utilities/mixins";
@use "../utilities/variables";
@use "../base/placeholders";

/*------------------------------*\
            Meals
\*------------------------------*/

.header_nav {
    position: absolute;
    left: functions.rem(25);
}

.full-img {
    height: 20vh;
    flex-shrink: 0;
    z-index: 1;

    img {
        position: relative;
        width: 100%;
        object-fit: cover;
    }
}

.heading {

    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.25rem 0 1.25rem;
        margin-bottom: functions.rem(25);
    }

    &_icon {
        position: relative;
        font-size: 1.6rem;
    }
}

.meal {

    &_container {
        @include mixins.flex-center;
        flex-direction: column;
    }

    &_section {
        display: flex;
        flex-direction: column;
        margin-bottom: functions.rem(30);
    }

    &_label {
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: normal;
        padding-left: functions.rem(6);
        margin-bottom: functions.rem(20);

        span {
            padding-bottom: functions.rem(4);
            border-bottom: functions.rem(3) solid variables.$tertiary-color;
        }
    }

    &_dish {
        background: variables.$bg-body;
        border-radius: functions.rem(15);
        width: 93vw;
        box-shadow: variables.$shadow-box;
        padding: functions.rem(10) functions.rem(20);
        margin-bottom: functions.rem(12);

        h3 {
            font-size: 0.9rem;
        }

        &_descr {
            font-size: 0.9rem;
            margin-top: functions.rem(3);
            display: flex;
            justify-content: space-between;

            p {
                display: contents;

                span {
                    display: block;
                    font-weight: 900;
                    font-size: 0.9rem;
                    color: #4e4e4e; 
                }
            }
        }
    }
}

.order {
    @include mixins.flex-center;
    margin-bottom: functions.rem(35);
}

.btn_order {
    padding: 0.9375rem 2rem;
}

.heart--line2 {
    position: absolute;
    -webkit-text-stroke: 1px #fff;
    bottom: functions.rem(3);
}

.heart--color2 {
    opacity: 0;

    &:hover {
        opacity: 1;
        background: linear-gradient(to top, variables.$secondary-color, variables.$primary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        cursor: pointer;
        animation: color;
        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }
}