@use "../utilities/functions";
@use "../utilities/variables";

.l-footer {
    display: flex;
    flex-direction: column;
    background: variables.$bg-grey-dark;
    color: variables.$txt-white;
    padding: functions.rem(25) functions.rem(20);
}