@use "../utilities/functions";
@use "../utilities/variables";

.l-meal {
    background: variables.$bg-grey-light;
    padding: functions.rem(30) functions.rem(0) functions.rem(15) functions.rem(0);
    border-radius: functions.rem(35) functions.rem(35) functions.rem(0) functions.rem(0);
    z-index: 2;
    position: relative;
}